@model Prac_Contact_Directory.Models.ContactGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactGroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
