@model IEnumerable<Prac_Contact_Directory.Models.Contact>

@{
    ViewBag.Title = "Index";
}
<h2>Contact</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Contacts", FormMethod.Get))
{
    @Html.TextBox("Searching")
    <input type="submit" value="Search" />
}
<div>
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
    <div class="row">
        <div class="col-md-4">
            <h2>Please choose a employee detail to create a MultiSelect list </h2>
           
        </div>
    </div>
    @section Styles{

        @Styles.Render("~/Content/chosen");

    }

    @section Scripts{
        @Scripts.Render("~/bundels/chosen");
        }
        <script type="text/javascript">

            $(function () {
                $(".chosen-contact").chosen();
            });
            
        </script>

    </div>



    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="color:red">
                        Name doesn't match with the records
                    </td>
                </tr>
            }

            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                        </td>
                    </tr>
                }
            }
            
    </table>


